/* ==========================base======================================================================= */
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

main {
    flex-grow: 1
}
/* ==========================header======================================================================= */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    /* adapt-2 */
    padding: 16px 0;
}

.header-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    display: none;
}

.header-list-hidden {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.mob-header {
    display: block;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
}

.nav {

    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-hidden {
    margin-bottom: auto;
}

.logo-header {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-accent {
    color: #2e2f42;
}

.nav-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover {
    color: #404BBF;
}

.nav-item:active {
    color: #404BBF;
    /* position:relative; */
}

/* .nav-item:active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
} */

.nav-item:focus {
    color: #404bbf;
}

.nav-item>.heading-two {
    margin-bottom: 0;
}

.nav-item>.heading-two:hover {
    color: #404BBF;
}

.nav-item>.heading-two:active {
    color: #404BBF;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.address-style {
    font-style: normal;
    display: none;
}

.address-style-hidden {
    font-style: normal;
}

.address-item {
    text-decoration: none;
    color: #434455;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover {
    color: #404BBF;
}

.address-item:focus {
    color: #404bbf;
}

.address-item>.heading-three:hover {
    color: #404BBF;
}

.address-item>.heading-three:focus {
    color: #404BBF;
}

.address-list-hidden {
    flex-direction: column;
    gap: 12px;
    display: flex;
}
/* ==========================section one======================================================================= */
.section-one {
    background: #2E2F42;
    padding: 72px 0;
    /* adapt-2  */
    /* padding: 188px 0; */
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.heading-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 8px;
}

.heading-two {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.heading-one {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    width: 150px;
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.button-style {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-style:hover {
    background-color: #404BBF;
}

.button-style:focus {
    background-color: #404BBF;
}

.paragraph {
    color: #434455;
    font-size: 16px;
    margin: 0;
}
/* ==========================benefits section two======================================================================= */
/* adapt-2 */
.benefits {
    padding: 96px 0;
}

.section-two-list {
    display: flex;
    /* adapt */
    gap: 72px;
    flex-direction: column;
}

.section-two-paragraph {
    color: #434455;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.section-two-heading {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

/* .section-two-list-item {
    adaptiveness 
    width: calc((100% - 72px) / 4);
} */
/* ==========================our team section three======================================================================= */
.our-team {
    background-color: #F4F4FD;
    /* adapt-2 */
    /* padding: 120px 0; */
    padding: 96px 0;
}

.section-three-list {
    display: flex;
    /* adapt */
    flex-direction: column;
    gap: 72px;
    justify-content: center;
}

.section-three-list-item {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
}

.text-center {
    text-align: center;
}

.section-three-item-text {
    padding: 32px 0;
}
/* ==========================our portfolio section four======================================================================= */
.our-portfolio {
    padding: 96px 0;
}

.section-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /* adapt */
    flex-direction: column;
}

.section-four-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* adapt */
    /* width: calc((100% - 48px) / 3); */
}

.section-four-list-item:hover {
    /* border: 1px solid #F4F4FD; */
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-four-img {
    overflow: hidden;
    position: relative;
}

.hidden-description-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list-item:hover .hidden-description-text {
    transform: translateY(0%);
}

.section-four-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* ==========================footer======================================================================= */
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-accent {
    color: #f4f4fd;
}

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-paragraph {
    color: #F4F4FD;
    max-width: 264px;
    text-align: start;
}

.container {
    /* display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center; */
    margin: 0 auto;
    /* adapt-2 */
    max-width: 320px;
    padding: 0 16px;
    /* width: 320px; */
}

.header-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two-icon {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    /* adapt */
    display: none;
}

.social-link {
    fill: #f4f4fd;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-links-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover {
    background-color: #404bbf;
}

.social-links-link:focus {
    background-color: #404bbf;
}

.container-footer {
    display: flex;
    gap: 72px;
    /* flex-wrap: nowrap; */
    align-items: center;
    flex-direction: column;
}

.social-links-hidden {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.social-links-footer {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.social-links-footer-item {
    width: 40px;
    height: 40px;
}

.social-links-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer-link:hover,
.social-links-footer-link:focus {
    background-color: #31D0AA;
}

.footer-heading {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    /* adapt */
    text-align: center;
}

.logo-footer-div {
    margin-right: 0;
    text-align: center;
}

.mb {
    margin-bottom: 8px;
}

.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
    /* adapt */
    flex-direction: column;
}

.footer-form-label {
    font-family: "Roboto", sans-serif;
}

.footer-input {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-submit {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover {
    background-color: #404BBF;
}

.footer-submit:focus {
    background-color: #404BBF;
}
/* ==========================backdrop======================================================================= */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0; /*1*/
    visibility: hidden; /*visible*/
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open,
.backdrop-menu.is-open {
    opacity: 0; /*1*/
    visibility: hidden; /*visible*/
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.backdrop-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
}

.mob-header-menu {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);*/
    width: 320px;
    min-height: 100vh;
    background: #FFF;
    margin: 0 auto;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.button-mobile {
    /* position: absolute;
    top: 15px;
    right: 50px; */
    width: 24px;
    height: 24px;
    background-color: #fcfcfc;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-close-hidden {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-hidden:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-close-hidden:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
    fill: #ffffff;
}

.icon-close:focus {
    fill: #ffffff;
}

.contact-form-div {
    margin-bottom: 8px;
}

.modal-window-paragraph {
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-form-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-div {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 2px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}

.contact-form-input:focus .input-icon {
    fill: #4D5AE5;
}

.contact-textarea-div {
    margin-bottom: 16px;
}

.contact-form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-indent: 8px;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-textarea:focus {
    color: rgb(67, 68, 85);
    border-color: #4D5AE5;
}

.contact-form-link {
    color: #4D5AE5;
    line-height: 1;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.contact-form-checkbox-div {
    margin-bottom: 24px;
}

.contact-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.contact-form-checkbox-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
}

.contact-form-checkbox-input:checked+.contact-form-checkbox-label>.contact-form-checkbox-label-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.contact-form-button {
    margin: auto auto;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 16px;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button:hover {
    background-color: #404BBF;

}

.contact-form-button:focus {
    background-color: #404BBF;
}

.input-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
    fill: #4D5AE5;
}

.contact-form-input:focus+.input-icon {
    fill: #4D5AE5;

}

.auto {
    margin-right: 0;
}

.padding {
    padding: 0;
}

.ocean {
    color: #404BBF;
}

.iris {
    color: #4D5AE5;
}


@media (min-width: 768px) {
.mobile {
    display: none;
}

.header {
    padding: 0;
}

.header-list {
    display: flex;
}

.logo-header {
    margin-right: 76px;
}

.container {
    /* flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; */
    /* media */
    /* justify-content: center; */
    margin: 0 auto;
    padding: 0 16px;
    /* media-2 */
    max-width: 768px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-header {
    display: none;
}

.address-style {
    display: block;
}

.address-list {
    flex-direction: column;
    gap: 12px;
}

.address-item {
    padding: 0;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.04em;
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tab.jpg);
}

.heading-one {
    /* media-2 */
    /* max-width: 496px; */
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 0.02em;
    width: 496px;
    margin-bottom: 36px;
}

.section-one {
/* media-2 */
    padding: 112px 0;
}

/*.benefits {
    padding: 96px 16px;
} */

.section-two-heading {
    text-align: start;
}

.section-two-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* media-2 */
    gap: 72px 24px;
}

.section-two-list-item {
    width: calc((100% - 24px) / 2);
}

.our-team {
    /* media-2 */
    /* padding: 120px 0; */
    padding: 96px 0;
}

.section-three-list {
    flex-direction: row;
    /* media */
    flex-wrap: wrap;
    /* media-2 */
    gap: 64px 24px;
}

.section-three-list-item {
    width: calc((100% - 48px) / 2);
}

/* .our-portfolio {
    padding: 96px 0;
} */

.section-four-list {
    flex-direction: row;
}

.section-four-list-item {
    width: calc((100% - 24px) / 2);
}

.container-footer {
align-items: baseline;
margin: 0 auto;
width: 584px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 72px 24px;
}

.logo-footer-div {
    text-align: start;
}

.footer-heading {
    text-align: start;
}

.footer-div-form {
    margin-right: 25px
}

.footer-form {
    gap: 24px;
    flex-direction: row;
}

.modal-window {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-desc.jpg);
}

.address-list {
    flex-direction: row;
    /* media-2 */
    gap: 40px;
}

.address-item {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.section-one {
    /* media-2 */
    padding: 188px 0;
}

.heading-one {
    /* media-2 */
    margin-bottom: 48px;
}

.heading-two {
    text-align: center;
}

.benefits {
    padding: 120px 0;
}

.section-two-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-two-paragraph {
    font-weight: 400;
}

.section-two-icon {
    display: flex;
}

.section-two-list {
    gap: 24px;
    /* media */
    flex-wrap: nowrap;
}

.section-two-list-item {
    width: calc((100% - 72px) / 3);
}

.our-team {
    /* media-2 */
    padding: 120px 0;
}

.section-three-list {
    flex-wrap: nowrap;
    /* media-2 */
    gap: 24px;
}

.section-three-list-item {
    width: calc((100% - 72px) / 4);
}

.section-three-item-text {
    padding: 32px 16px;
}

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-four-list-item {
    width: calc((100% - 48px) / 3);

}

.container-footer {
    width: 1158px;
    align-items: baseline;
    gap: unset;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1158px;
}

.footer-div-form {
    margin-right: 0;
    width: 100%;
    max-width: fit-content;
}

.logo-footer-div {
    margin-right: 120px;
    /* text-align: start; */
}

.auto {
    margin-right: auto;
}

.footer-form {
    gap: 24px;
    flex-direction: row;
}

.footer {
    min-width: 1158px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
@media (max-width:767px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-mob2x.jpg);
        }
}

@media (min-width:768px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tab2x.jpg);
        }
}

@media (min-width:1158px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-desc2x.jpg);
        }
}
}   }}